* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: lightgrey;
}
.header {
    
text-align: center;
    
font-size: 16px;
    
padding: 20px;
    
font-family: 'Sonsie One';
    
font-size: 22px;
background-color: ghostwhite;
    
}
.column {
    float: left;
    padding: 10px;
}
.column.side {
    font-size: 10px;
    width: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
  }

.column.middle{
    width: 50%;
}
input[type=text] {
    border: none;
    background-color: lightgray;
    border-bottom: 1px solid black;
}

input[type=text]:focus {
    border: 1px solid #555;
}

.message {
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.side, .gameBoard {
        width: 100%;
    }
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 551px;
    -webkit-user-select: none;
    background-color: white;
  }
  td {
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 120px;
    border: 2px solid #5f5e5e5d;
    -webkit-border-radius: 10px;
  }

